.aboutUs-section {
    display: flex;
    color: #000000;
    min-height: 500px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.aboutUs-container {
    margin: 0;
    display: flex;
}

.aboutUs-content {
    align-items: center;
    display: flex;
    height: 69vh;
    justify-content: space-between;
    padding: 0 8vw;
    position: relative;
    width: 100vw;
}

.aboutUs-content .column-left{
    width: 50%;
    width: 50%;
    padding: 0vw 0vw 0vw 8vw;
}

.aboutUs-content .column-right {
    width: 50%;
}

.aboutUs-section h1 {
    font-family: 'JOSEFIN SANS';
    font-size: 3.6vw;
    width: 37vw;
    text-align: left;
    color: #3D3B3B;
    line-height: 4.5vw;
}

.aboutUs-section p {
    font-family: 'Josefin Sans';
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    width: 36vw;
    text-align: left;
    padding-bottom: 5vw;
    line-height: 2vw;
}

.aboutUs-section button {
    height: 4vw;
    width: 13vw;
    top: -2vh;
}

.aboutUs-content .button-container {
    display: flex;
    justify-content: flex-start;
}

.aboutUs-section svg {
    width: 50vw;
    height: 67vh;
}

@media (max-width: 750px) {
    .aboutUs-section{
        align-items: center;
        background-color: #fff;
        color: #000;
        display: flex;
        height: 132vh;
        justify-content: center;
        min-height: 500px;
        width: 100%;
    }

    .aboutUs-content {
        align-items: center;
        display: flex;
        height: 132vh;
        justify-content: space-between;
        position: relative;
        width: 100vw;
        flex-direction: column;
    }

    .aboutUs-content .column-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 53%;
        overflow: hidden;
    }

    .aboutUs-section h1 {
        color: #3d3b3b;
        font-family: JOSEFIN SANS;
        font-size: 7.6vw;
        line-height: 7.5vw;
        text-align: left;
        width: 81vw;
        font-weight: 1000;
        margin: 0;
        position: absolute;
        top: 11vh;
    }

    .aboutUs-section p {
        font-family: Josefin Sans;
        font-size: 3.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: 6vw;
        padding-bottom: 5vw;
        text-align: left;
        width: 81vw;
        position: absolute;
        margin: 0;
        top: 33.8vh;
    }

    .aboutUs-content .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 13vh;
    }

    .aboutUs-section button {
        height: 10vw;
        top: 28vh;
        width: 29vw;
        font-size: 3vw;
        padding-top: 0.5vw;
        border-radius: 12vw;
    }

    .aboutUs-content .column-right {
        width: 100%;
        height: 47%;
    }

    .aboutUs-content .column-right .figure{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .aboutUs-section svg {
        width: 82vw;
        height: 73%;
        position: absolute;
        top: 50vh;
    }
}