.business-section {
    align-items: center;
    background-color: #fff;
    color: #000;
    display: flex;
    height: 100vh;
    justify-content: center;
    min-height: 500px;
    width: 100%;
}

.business-container {
    display: flex;
    height: 100vh;
    margin: auto;
}

.business-content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    width: 100vw;
}

.business-content .column-left  {
    height: 70vh;
    width: 48%;
    padding: 0vw 0vw 0vw 2.5vw;
}


.business-content .column-left .figure img {
    height: 40vw;
    width: 38vw;
}

.business-content .column-right {
    width: 43%;
    height: 65vh;
}

.business-content .column-right h1 {
    font-family: 'JOSEFIN SANS';
    font-size: 3.6vw;
    width: 40vw;
    text-align: left;
    color: #3D3B3B;
    line-height: 4.5vw;
}

.business-content .column-right p {
    font-family: 'Josefin Sans';
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    width: 36vw;
    text-align: left;
    padding-bottom: 5vw;
    line-height: 2vw;
}

.business-content .column-right .contact-us {
    height: 8vh;
    width: 13vw;
    background: linear-gradient(94.06deg, #034A87 10.32%, #481C69 82.09%);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    COLOR: white;
    font-size: 1.4vw;
    font-family: 'Josefin Sans';
    top: -40px;
    position: relative;
    transition: all 400ms ease-in;
}

.button-container{
    width: 100%;
    display: flex;
}