.conclusion-section {
    display: flex;
    color: #000000;
    min-height: 500px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conclusion-container {
    height: 85vh;
    margin: auto;
    width: 100%;
    background: linear-gradient(180deg, #034A87 10.32%, #481C69 82.09%);
}

.conclusion-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 91vh;
}

.conclusion-content p {
    margin-top: 200px;
    color: white;
    font-family: 'Josefin Sans';
    width: 80%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.15vw;
    line-height: 164%;
}

.conclusion-content button {
    height: 8vh;
    width: 13vw;
    background: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    COLOR: black;
    font-size: 1.3vw;
    font-family: 'Josefin Sans';
    top: -21vw;
    position: relative;
    transition: all 400ms ease-in;
}

.conclusion-content button h1 {
    font-size: 1.2vw;
    color: black;
    font-weight: 500;
    font-family: 'Josefin Sans';
}

.conclusion-content .BrandName {
    position: absolute;
    top: 65%;
    font-size: 1.2vw;
    color: white;
    font-weight: 500;
    font-family: 'Josefin Sans';
    margin-top: 2vw;
}

.conclusion-container h2 {
    position: absolute;
    top: 70%;
    font-size: 1.2vw;
    color: white;
    font-weight: 500;
    font-family: 'Josefin Sans';
    margin-top: 3vw;
}