nav {
    display: block;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-width {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 -40px 70px 0 gray;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 8vw;
}

.navbar .logo{
    padding-top: .5vw;
}

.navbar .logo a {
    background-clip: text;
    background-color: #000;
    font-family: Josefin Sans;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 128px;
    margin-left: auto;
    text-align: center;
    text-decoration: none;

}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2vw;
    height: 1.6vw;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 999;
    position: absolute;
    top: .6vw;
    left: 16.55vw;
}

.hamburger {
    width: 100%;
    height: .3vw;
    background-color: #000;
    border-radius: 60px;
}

.x-show{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 96.3%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 999;
    position: absolute;
    border-left: 1px solid black;
}

.x-show:hover{
    background: linear-gradient(90deg, #034A87 0%, #481C69 40.09%);
}

.callToAction {
    width: 100%;
    height: 32.2vh;
}

.x-show .hamburger {
    width: 0;
}

.navbar-hide {
    height: 0;
    opacity: 0;
}

.navbar-show {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    text-align: center;
    padding-top: 80px;
    transition: height 2s ease;
    margin: 0;
}

.no-icon {
    display: none;
}

.inline-nav li {
    list-style: none;
    display: inline-block;
}

.navbar-hide li {
    border-bottom: 0px solid red;
}


.inline-nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 83%;
    text-align: center;
    transition: all 0.3s ease;
    margin: 0;
}

.navbar-show li {
    list-style: none;
    display: block;
    width: 100%;
    text-align: start;
    height: 20%;
    border-bottom: 1px solid black;
    transition: border-bottom 1s ease;
    position: relative;
}


.navbar-show li a {
    display: block;
    color: #000;
    font-size: 6vw;
    font-weight: 600;
    transition: color 0.3s ease;
    font-family: "Josefin Sans";
    letter-spacing: 2vw;
    padding: 0;
    position: absolute;
    top: 0;
    opacity: 1;
    transition: top 1s ease, opacity 500ms ease, letter-spacing 1.5s cubic-bezier(.47,0,.74,.71);
}

.navbar-show li a:hover {
    color: #fff;
    background: linear-gradient(94.06deg, #034A87 10.32%, #481C69 82.09%);
    clip-path: polygon(0% 100%, 1000% 100%, 100% 0%, 0% 0%);
}

.navbar-show .menu li a:hover {
    color: #fff;
}

.navbar-link {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    font-size: 1vw;
    font-weight: 600;
    margin-left: 1.5vw;
    transition: color 0.3s ease;
}

a {
    text-decoration: none;
}

.contactPlusNav{
    width: 18.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 73vw;
}

.contactPlusNav .button-container button {
    align-items: center;
    display: flex;
    font-size: .6vw;
    height: 3vw;
    justify-content: center;
    top: 0;
    width: 9vw;
}

.contactPlusNav .button-container button h1{
    margin: 0;
    padding: 0;
}

.contactPlusNav .button-container{
    display: flex;
    width: 100%;
    z-index: 999;
}

.openNav .button-container{
    z-index: 0;
}

.navbar-show .right ul{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.navbar-show .right li:nth-child(1) a {
    width: 74.7%;
    padding-left: 14vw;
    margin: 0;
    height: calc(100% - 3vw);
    padding-top: 3vw;
}

.navbar-show .right li:nth-child(2) a{
    padding-left: 24vw;
    padding-top: 2.8vw;
    height: calc(100% - 2.8vw);
    width: 100%;
}

.navbar-show .right li:nth-child(3) a{
    padding-left: 34vw;
    padding-top: 3vw;
    height: calc(100% - 3vw);
    width: 100%;
}

.navbar-show .right li:nth-child(4) a{
    padding-left: 44vw;
    padding-top: 3vw;
    height: calc(100% - 3vw);
    width: 100%;
}

.navbar-show .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}

.navbar-show .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #000;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    border-right: 0vw solid black;
}

.navbar-show .right{
    position: absolute;
    top: 0vw;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);
    transition: clip-path 2s cubic-bezier(.45,.05,.55,.95);
}

.navbar-show .navBottomRightHeading {
    background: linear-gradient(90.2deg, #0a4483 .54%, #421f6b 101.49%);
    background-clip: border-box;
    background-clip: text;
    color: #000;
    font-family: Josefin Sans;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    left: 85vw;
    line-height: 128px;
    margin: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 90vh;
    height: 3vw;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.navbar-show .background {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100vh;
}
.openNav{
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 72vw;
}

.navbar-hide .left {
    width: 0;
}

.navbar-hide .right{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 0;
}

.navbar-hide li a {
    position: absolute;
    top: -8vw;
    opacity: 0;
    letter-spacing: 0;
}

.navbar-hide .border {
    display: none;
}

.x-show .xSvg{
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 15vh;
    left: 2.5vw;
}

.xSVGhidden{
    display: none;
}

.x-show .xSvg path:hover{
    fill: white;
}