.services-section {
    display: flex;
    color: #000000;
    min-height: 500px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2.5vw 0px;
    margin-bottom: 15vw;
}

.services-container {
    height: 70vh;
    margin: auto;
    display: flex;
}

.services-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60vh;
    position: relative;
}

.services-content .left-column {
    width: 45%;
    height: 66vh;
    position: relative;
}

.services-content .right-column {
    width: 50%;
    height: 66vh;
}

.services-content .figure img {
    height: 40vw;
    width: 35vw;
}

.main-heading {
    font-family: 'JOSEFIN SANS';
    font-size: 3.6vw;
    width: 40vw;
    text-align: left;
    padding: 0vw 1vw;
    color: #3D3B3B;
    line-height: 4.5vw;
}

.services-content .services {
    width: 80%;
    height: 50%;
}

.services-content .services ul {
    list-style: none;
    padding: 0;
    padding-left: 1vw;
    width: 40vw;
}

.services-content .services li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.services-content .services li::after {
    position: absolute;
    content: '';
    height: .03vw;
    bottom: 6px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: black;
}

.services-content .services li h1 {
    display: inline;
    font-size: 1.1vw;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    line-height: 124.5%;
    color: #3D3B3B;
}

.services-content .services li .arrow-button {
    display: inline;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    transition: all 1s ease;
}

.services-content .services li .rotate-arrow {
    
    transform: rotate(-90deg);
}

.services-content .services li svg {
    width: 2vw;
    height: 2vw;
    top: 1.1vw;
    left: 37vw;
}

.right-column .fade-in-paragraph {
    opacity: 0;
    transition: opacity 1s ease, margin 1s ease;
    text-align: left;
    font-size: 1vw;
    margin: -1.6vw 0px 20px 0px;
}

.right-column .fade-in-paragraph.show {
    opacity: 1;
    margin: -10px 0px 20px 0px;
}