.services-section {
    align-items: center;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 500px;
    height: 100vh;
}

.services-container {
    min-height: 500px;
    margin: 0;
    padding: 0;
    display: flex;
}

.services-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.services-content .left-column {
    width: 45%;
    height: 93vh;
    position: relative;
}

.services-content .right-column {
    width: 50%;
    height: 97vh;
}

.services-content .figure img {
    height: 40vw;
    width: 35vw;
}

.main-heading {
    font-family: 'JOSEFIN SANS';
    font-size: 3.6vw;
    width: 40vw;
    text-align: left;
    padding: 0vw 1vw;
    color: #3D3B3B;
    line-height: 4.5vw;
}

.services-content .services {
    width: 61%;
    height: 50%;
}

.services-content .services ul {
    list-style: none;
    padding: 0;
    padding-left: 1vw;
    width: 40vw;
}

.services-content .services li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.services-content .services li::after {
    position: absolute;
    content: '';
    height: .1vw;
    bottom: 6px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: black;
}

.services-content .services li h1 {
    display: inline;
    font-size: 1.1vw;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    line-height: 124.5%;
    color: #3D3B3B;
}

.services-content .services li .arrow-button {
    display: inline;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    transition: all 1s ease;
}

.services-content .services li .rotate-arrow {
    
    transform: rotate(-90deg);
}

.services-content .services li svg {
    width: 2vw;
    height: 2vw;
    top: 1.1vw;
    left: 37vw;
}

.right-column .fade-in-paragraph {
    opacity: 0;
    transition: opacity 1s ease, margin 1s ease;
    text-align: left;
    font-size: 1vw;
    margin: -1.6vw 0px 1vw 0px;
}

.right-column .fade-in-paragraph.show {
    opacity: 1;
    margin: -.5vw 0px 1vw 0px;
}

@media (max-width: 750px) {
    .services-section{
        align-items: center;
        background-color: #fff;
        color: #000;
        display: flex;
        height: 143vh;
        justify-content: center;
        min-height: 420px;
        width: 100%;
        margin-top: 0;
    }

    .services-container {
        display: flex;
        margin: 0;
        min-height: 500px;
        padding: 0;
        height: 124vh;
    }

    .services-content {
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: space-between;
        position: relative;
        width: 100vw;
        flex-direction: column-reverse;
    }

    .services-content .left-column {
        width: 100%;
    }

    .services-content .left-column .figure{
        height: 154%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-content .figure img {
        height: 87vw;
        width: 74vw;
        position: absolute;
        top: 67vh;
    }

    .services-content .right-column {
        height: 183vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-heading {
        color: #3d3b3b;
        font-family: JOSEFIN SANS;
        font-size: 7.6vw;
        line-height: 8.5vw;
        text-align: left;
        width: 90%;
        margin: 0;
        position: absolute;
        top: -2.4vh;
        left: 6.3vw;
    }

    .services-content .services {
        height: 27%;
        width: 100%;
        position: absolute;
        top: 22vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .services-content .services ul {
        list-style: none;
        padding: 0 0 0 1vw;
        width: 88vw;
        height: 100%;
    }

    .services-content .services li::after {
        background: #000;
        bottom: 2vw;
        content: "";
        height: 0.3vw;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 100%;
    }

    .services-content .services li {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
    }

    .services-content .services li h1 {
        color: #3d3b3b;
        display: inline;
        font-family: Josefin Sans;
        font-size: 3.1vw;
        font-style: normal;
        font-weight: 600;
        line-height: 124.5%;
    }

    .services-content .services li .arrow-button {
        cursor: pointer;
        display: inline;
        height: 6vw;
        transition: all 1s ease;
        left: 83vw;
        top: 1.1vw;
        width: 6vw;
        position: absolute;
    }

    .services-content .services li svg {
        height: 6vw;
        width: 6vw;
    }

    .right-column .fade-in-paragraph {
        font-size: 2.3vw;
        margin: -1.6vw 0 1vw;
        opacity: 0;
        text-align: left;
        transition: opacity 1s ease, margin 1s ease;
    }
}